# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# SQLite database files
*.db
*.sqlite
*.sqlite3
# Exception for our MLB data database
!mlb_data.db

# Flask
instance/
.webassets-cache

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/
.venvjoevanhorn

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Heroku
*.log 